body {
    margin: 0;
    font: Arial;
    padding: 0;
}
/* top-bar's code is reference from here:
https://www.w3schools.com/howto/howto_js_topnav.asp */
.top-bar{
    overflow: hidden;
    background-color: #444;
}
/*  */
.top-bar a{
    padding: 14px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    color: white;
    float: left;
}
.top-bar a:hover {
  background-color: white;
  color: black;
}
.top-bar a.home {
    background-color: #F4C95D;
    color: white;
    pointer-events: none;
    list-style-type: none;
    margin: 0;
}
.top-bar a.page1 {
    background-color: #EA526F;
    color: white;
    pointer-events: none;
    list-style-type: none;
    margin: 0;
}
.top-bar a.page2 {
    background-color: #04AA6D;
    color: white;
    pointer-events: none;
    list-style-type: none;
    margin: 0;
}
.top-bar a.page3 {
    background-color: #14a3c7;
    color: white;
    pointer-events: none;
    list-style-type: none;
    margin: 0;
}
.content{
    padding: 25px;
    margin: 25% 15%;
    font-family: Trebuchet MS;
    font-weight: bold;
    color: white;
}
/* I forgot video's source */
#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.text-content{
    margin-left: 20px;
    margin-right: 10px;
    padding: 30px;
    font-family: Trebuchet MS;
    margin-bottom: 0;
}
footer{
    padding: 50px;
    font-family: Trebuchet MS;
}
.article-menu{
    padding: 15px;
    background-color: #f3f4f6;
    width: 100%;
    color:black;
    margin: 0;
}
.article-menu a{
    color:black;
    text-decoration:none;
}
.article-menu a:hover{
    color: #A4B3D7;
    text-decoration:underline;
}
.article-menu ul{
    margin-bottom: 5px;
}
ol li{
    margin-bottom: 10px;
}
.icon img{
    float:left;
    width: 25%;
    height:auto;
    margin: 10px;
    color: white;
}
.wrap-text{
    text-align:justify;
    font-size: 20px;
}